<h1>Blog Costamilam</h1>

<p>Blog criado para a atividade da faculdade de Análise e Desenvolvimento de Sistemas</p>

<p>Principais tecnologias usadas:</p>

<ul>
    <li>Angular com TypeScript</li>
    <li>Angular Material Design</li>
    <li>Firebase Realtime Database</li>
    <li>Firebase Storage</li>
    <li>Firebase Auth</li>
    <li>Firebase Cloud Functions</li>
    <li>Firebase Hosting</li>
</ul>

<p>Código fonte: <a href="https://github.com/Costamilam/blog">https://github.com/Costamilam/blog</a></p>